{% extends 'base.html.twig' %}

{% block title %}Hello ServGagnaireController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bienvenue {{ controller_name }}!</h1>
</div>
    <center>
    <div class="card text-white bg-success mb-3" style="max-width: 50rem;">
    <div class="card-body">
    <form method="post" action="/serv/login">
    <p>
    <tr>
      <div class="form-group">
      <label for="exampleInputPassword1" class="form-label mt-4">Login</label>
      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Login">
      <div class="form-group">
      <label for="exampleInputLogin" class="form-label mt-2">Password</label>
      <input type="password" class="form-control" id="exampleInputLogin" placeholder="Password">
      </div
    </tr>
    </p>
    </div>
    </center>
    </form>

</div>
    </fieldset>
    <center>
    <a href="login.html.twig"></a><button type="submit" class="btn btn-success">Connexion</button>
    </fieldset>
    </center>

{% endblock %}
